doctype html
html(lang="en")
    head
        title Sneakers Shop
        link(rel='stylesheet' href='styles/pages/layout-item.css')
    body
        div.layout
            div.layout-component
                div.row-header
                    include navigation
                div.row
                    include production
                    include cards-all
