link(rel='stylesheet' href='styles/pages/navigation.css')
nav.navigation-component
    ul
        li.navigation-button-container
            a.navigation-button All Products
        li.navigation-button-container.link-container
            a.navigation-button Sneakers
        li.navigation-button-container
            a.navigation-button T-shorts
        li.navigation-button-container
            a.navigation-button Tracksuit
        li.navigation-button-container
            a.navigation-button Stockings
        li.navigation-button-container
            a.navigation-button Socks
