link(rel='stylesheet' href='styles/pages/panelComponent.css')
section.panel-component.border
    div.category-panel-header
        div.panel-text Sneakers
        div.panel-text 122455 Products
    div.category-panel-all
        div.panel-text
            a(href='/') View All >
