.cards-container {
  font-size: 1rem;
  display: flex;
  padding-bottom: 23px;
  align-items: center;
  justify-content:  space-between;
  flex-wrap: wrap;
  &.last {
    width: 470px;
  }
}

.cards-preview-content {
  display: flex;
  flex-direction: column;
  width: 222px;
  margin: 10px;
}

