@import '../helpers/variables';

.navigation-component {
ul {
  margin-left: 0;
  padding-left: 0;
}
}

.navigation-button-container {
  border-right: 1px solid $item_border_color;
  border-top: 1px solid $item_border_color;
  &:last-child {
    border-bottom: 1px solid $item_border_color;
  }
  &:hover {
    background: $active_item_background;
  }
}

.link-container {
  background: $active_item_background;
  &:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 38px;
    background-color: #3fadee;
    border-radius: 10px;
  }
}

.navigation-button {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px 17px 10px 27px;
  font-weight: 400;
  color: #4d8aa9;
  text-decoration: none;
}


