@font-face {
  font-family: RobotoRegular;
  src: url(roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoBoldItalic;
  src: url(roboto/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoItalic;
  src: url(roboto/Roboto-Italic.ttf);
}
